.list {
    display: grid;
    grid-template-rows: repeat(8, 0.05fr);
    row-gap: 1em;
     width: 50%;
    }
    [class*="bar"] {
        background-color: rgb(32, 24, 24);
        grid-column-start: 1;
        grid-column-end: 90;
        font-family: 'Oswald', sans-serif;
        color: rgb(255, 255, 255);
        font-size: 80%;
      }
    .html {grid-column-end: 90;}
    .seo{ grid-column-end: 80;}
    .Javascript {grid-column-end: 80;}
    .ux {grid-column-end: 80;}
    .photography {grid-column-end: 80;}
    .php{grid-column-end: 60;}
    p.text2 {
        font-family: 'Antonio', sans-serif;
        font-size: 3em;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .intro {
       background-color:rgba(0, 0, 0, 0.3);
       height: 100%;
       display: flex;
       justify-content: left;
       align-items: center;
    }
    .first{
        background: url(bg.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    h1 {
        color: aliceblue;
    }
.textP {
    width: 50%;
    text-align: center;
    font-family: 'Antonio', sans-serif;
}
p.text2 {
    font-family: 'Antonio', sans-serif;
    font-size: 3em;
    color: seashell;
}
.social {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1em;
}
.more {
    background-color:rgba(0, 0, 0, 0.2);
}