* {box-sizing:border-box}

html, 
body {
    height: 100%;
    top: 0;
}

.sidenav {
   position: fixed;
}
@media only screen and (max-width: 600px) { 
    .sidenav {display: none;}}
/* TEMPLATE GRID */
.home {
    display: grid;
    width: 100%;
    height: 100vh;
    margin: 0;
    grid-template-areas: " .content . "
                         " endSection endSection endSection ";
    grid-template-rows: 90% 10%;
    grid-template-columns: 10% 50% 40%;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
grid-area: content;
background-color: #201E1F;
display: flex;
flex-direction: column;
justify-content: center;
flex-wrap: nowrap;
width: 100%;
}

.endSection{
    grid-area: endSection;
    display: flex;
    background-color: #080a0a;
    justify-content: center;
    width: 100%;
}

/* Sections FORMAT */
/* TEXTO PRINCIPAL */
.frontText {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    text-align: center;
}
.frontText h1 {
    font-size: 4vh;   
}

.frontText li {
    font-family: 'Be Vietnam', sans-serif;
    list-style: none;
    font-size: 3vh;
}
.frontText .color{
    color: #FFA500;
}
.hightlight {
    background-color: #FFA500 ;
}
/* skills tab */
.sBox{
    width: 100%; 
    padding-bottom:  1%;
    padding-left: 5%;
}
.skills {
    padding-top: 1%;
    padding-bottom: 1%; 
    color: white; 
  }
  
  .html {width: 90%;  background-color: #523316;} /* Green */
  .css {width: 80%;  background-color: #523316;} /* Blue */
  .js {width: 70%;  background-color: #523316;} /* Red */
  .op {width: 90%;  background-color: #523316;} /* Dark Grey */
  .ph {width: 80%;  background-color: #523316;}
  .react {width: 30%;  background-color: #523316;}
.sk {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-size: 30px;
    padding-left: 5%;
  }
  .stext {
    font-family: 'Roboto', sans-serif;  padding-left: 5%;
  }
  /* picture */
  .image{
      display: flex;
      justify-content: center;
  }
  /* Separator*/
  
  .but  {
      font-size: 2vh;
      padding-left: 10%;
      padding-right: 10%;
      color: #fff
  }
  .sep {
    font-family: 'Bebas Neue', cursive;
    color: #fff;
    font-size: 2vmax;
  }
  /* sidebar */
  .homeButton .folderButton .infoButton{
padding: 5%;
  }
.menu {
    font-size: 3vw;
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 50%;
      color: white;
}
.text {
    font-family: 'Oswald', sans-serif;
        color: #fff;
    text-align: center;
    font-size: 1vw;
text-align: center;
width: 100%;
}

/* start the first section */
#files {
    background-image: url(img/port/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }

.portfolio {
    display: grid;
    grid-template-columns: 40% 50%;
    grid-template-rows: auto;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}
.contentD {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding: 1em;
}
.works{
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 1fr;
    width: 100%; 
    padding: 10%;

}

.box-p 
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.title {
    background-color: #ffa600b6;
    font-family: 'Bebas Neue', cursive;
    font-size: 3vh;
    text-align: center;
    color: whitesmoke;
}

.picture-p{
    height: 100%;
    width: auto;
  background-size: cover; /* <-- background size */
  background-position: center; /* <-- background position */

}

.description {
font-family: 'Oswald', sans-serif;
color: whitesmoke;
text-align: center;
font-size: 2vh;
text-align: center;
background-color: #160f02b6;
}
.contentF{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    background-color: #272623;
justify-content: space-between; 
padding-top: 10%;   
padding-bottom: 10%;
height: 100vh;
}
.social {
    display:flex;
    flex-direction: row;
    height: 50vh;
    align-items: center;
    justify-content: center;
    gap: 20%;
    
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fab {
    font-size: 6vh;
    color: whitesmoke;
}

@media only screen and (max-width: 600px) {
    .home {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .content {
        width: 100%;
    }
    .skills {
        display: none;
    }
    .endSection {
        width: 100%;
    }
    .portfolio {
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;
        justify-content: center;
    }
    .contentD{
        width: 100%;
        height: 100%;
    }
    .works{
        width: 100%;
        height: auto;
        padding: 0%;
    }
    .picture{
        display: none;
    }
    .text {
        font-size: 3vh;
    }
    .social {
        flex-direction: column;
justify-content: space-between;    
}
.box-p{
    height: 50vh;
}
    }
    
    }
